<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="icia.kotlin.mapper.Mapper">
	<select id="isPass" resultType="int">
		SELECT COUNT(*) FROM ST WHERE ST_ID = #{mId} AND ST_PASSWORD = #{mPwd}	
	</select>
	
	<select id="isMember" resultType="int">
		SELECT COUNT(*) FROM ST WHERE ST_ID = #{mId}
	</select>
	
	<select id="selectMember" resultType="icia.kotlin.beans.Beans">
		SELECT ST_ID AS mId , ST_NAME AS mName FROM ST WHERE ST_ID=#{mId}
	</select>
	
	<insert id="insCustomer">
		INSERT INTO ST(ST_ID,ST_NAME,ST_PASSWORD,ST_PHONE) VALUES(#{mId},#{mName},#{mPwd},#{mPhone})	
	</insert>
	
	<insert id="insMovie">
	INSERT INTO MV(MV_CODE,MV_NAME,MV_GRADE,MV_STATUS,MV_IMAGE,MV_COMMENTS) VALUES(#{mvCode},#{mvName},#{mvGrade},#{mvStatus},#{mvImage},#{comments});	
	</insert>
		
</mapper>	
